dvr-scan==1.6.1
func-timeout==4.3.5
google-api-python-client==2.147.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
html2text==2024.2.26
humanize==4.9.0
Jinja2==3.1.6
opencv-python==4.10.0.84
pick==2.4.0
progress-bar==8
pushbullet.py==0.12.0
pytz==2024.2
Send2Trash==1.8.3
typing_extensions==4.12.2
tzlocal==5.2
yt-dlp==2024.7.25