{% extends "base.html" %}
{% block content %}
<p>As per the <a href="terms">terms and conditions</a> of this API client, usage of this API client is restricted to
    Christopher Menon. Therefore, this API client only accesses and stores Christopher Menon&#39;s, and not the personal
    data of any third-party. Christopher Menon&#39;s user data is not shared with anyone else without Christopher Menon&#39;s
    direct consent as the creator of these scripts and this API client.</p>
<p>Therefore, this API client complies with the Google APIs Terms of Service and Google’s API Services User Data Policy.
    Use of the API client by Christopher Menon is subject to these terms.</p>
<p><em>Please note that this privacy policy applies to my Google API Client only, it does not apply to the scripts and
    programs in this repository.</em></p>
{% endblock %}