{% extends "base.html" %}
{% block content %}
<p>Use of the birdbox-livestream (Christopher Menon) Google API client is restricted to Christopher Menon, who owns and
    controls the API client. No-one else may use it. Christopher Menon will not share the credentials required to use
    the API client with anyone else.</p>
<p>This API client complies with the Google APIs Terms of Service and Google’s API Services User Data Policy. Use of the
    API client by Christopher Menon is subject to these terms.</p>
<p><em>Please note that these terms and conditions apply to my Google API Client only, they do not apply to the scripts
    and programs in this repository.</em></p>
{% endblock %}